{% extends "main.html" %}
{% load static %}

{% block title %}
Wordle
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'wordle/css/wordle.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <p class="text text-center">Select category</p>
    <div class="wordle-grid">
        <button class="category-button wordle-hover">
            <i class="bi bi-card-text"></i>
            <span>CLASSIC 5 letters</span>
        </button>
        <button class="category-button wordle-hover">
            <i class="bi bi-card-text"></i>
            <span>QUARDLE 4 letters</span>
        </button>
        <button class="category-button wordle-hover">
            <i class="bi bi-card-text"></i>
            <span>SIXLE 6 letters</span>
        </button>
        <button class="category-button wordle-hover">
            <i class="bi bi-card-text"></i>
            <span>SEPTLE 7 letters</span>
        </button>
    </div>
</div>

<script>
    $('.navbar').removeAttr('style');
</script>
<script src="{% static 'wordle/js/wordle.js' %}"></script>
{% endblock %}
