{% load static %}
<div style="position: relative;">

    <form method="post" id="letters-form">
        {% csrf_token %}
        <div style="position: relative;">
            <div class="letters-container">
                <div class="letters">
                    {% for letter in word %}
                        <input type="text" name="{{ letter }}" class="letters-input" data-letter="{{ letter }}" autocomplete="off" maxlength="1">
                    {% endfor %}
                </div>
            </div>
        </div>

                
        
        <div class="letters-empty-container">
            {% for letter in word %}
                <empty class="letters-empty" autocomplete="off" maxlength="1"></empty>
            {% endfor %}
        </div>
        <div class="letters-empty-container">
            {% for letter in word %}
                <empty class="letters-empty" autocomplete="off" maxlength="1"></empty>
            {% endfor %}
        </div>
        <div class="letters-empty-container">
            {% for letter in word %}
                <empty class="letters-empty" autocomplete="off" maxlength="1"></empty>
            {% endfor %}
        </div>
        <div class="letters-empty-container">
            {% for letter in word %}
                <empty class="letters-empty" autocomplete="off" maxlength="1"></empty>
            {% endfor %}
        </div>
        <div class="letters-empty-container">
            {% for letter in word %}
                <empty class="letters-empty" autocomplete="off" maxlength="1"></empty>
            {% endfor %}
        </div>
    </div>

    <div class="button-container">
        <div class="buttons">
            <button class="submit-button">Submit</button>
            <button class="hint-button"><i class="bi bi-lightbulb"></i></button>
        </div>
    </div>
</div>