/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    background-color: green; /* Зеленый фон */
    height: 100vh;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру горизонтально */

    padding-top: 20px; /* Отступ от верхнего края */
}

.letters-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.letters {
    display: flex;
    justify-content: center;
}

.letters-input {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    margin-right: 10px;
    align-items: center;
    font-size: 50px;
    text-align: center;
    border-radius: 10px;
}

.letters-empty-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust margin as needed */
}

.letters-empty  {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Вирівнюємо кнопки з правого краю */
    align-items: center;
    margin-top: 2%; /* Можна також використовувати margin-bottom на .letters-container */
}

.button-container {
    display: flex;
    justify-content: center; /* Розміщує кнопки по центру горизонтально */
    margin-top: 2%;
}

.buttons {
    display: flex;
    align-items: center;
}

.submit-button {
    background-color: rgb(229, 255, 0);
    color: rgb(24, 24, 24);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px; /* Відступ між кнопками */
}

.submit-button:hover {
    background-color: rgb(164, 182, 0);
}

.hint-button {
    background-color: rgb(229, 255, 0);
    color: rgb(24, 24, 24);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.hint-button i {
    margin-right: 5px; /* Відступ між іконкою і текстом кнопки */
}

.hint-button:hover {
    background-color: rgb(164, 182, 0);
}


.text-center {
    font-size: 42px;
    margin-bottom: 30px;
}

.wordle-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.category-button {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    font-size: 16px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.category-button i {
    font-size: 48px;
    margin-bottom: 10px;
}


.word-text {

    font-size: 200px;

}

.wordle-hover {
    background-color: #f4ff58;
    transition: background-color 0.3s ease;

}
@media (hover: hover) {
    .wordle-hover:hover {
        background-color: #ffe058;
    }
}

