{% extends "main.html" %}
{% load static %}
{% block links %}<link rel="stylesheet" href="{% static 'main/css/home.css' %}">{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container d-flex home-container" style="height: 70vh">
        <a href="{% url 'hangman:index' %}" class="left hangman-bg">
            <div>
                <img src="{% static 'main/img/Без назви-1.png' %}" alt="">
                <div class="text">Hangman</div>
            </div>
        </a>
        <a href="{% url 'wordle:index' %}" class="right">
            <div>
                <img src="{% static 'main/img/Без назви-2.png' %}" alt="">
                <div class="text">Wordle</div>
            </div>
        </a>
    </div>
{% endblock %}