.auth-container {
    margin: 0 auto;
    background-color: rgb(192, 192, 192);
    width: 40vw;
    border-radius: 10px;
    padding: 15px 10px;
}
.auth-container form > *:not(:last-child) {
    margin-bottom: 20px;
}
.penis {
    background-color: #ececec
}
.btn-google {
    background-color: white;
}
.btn-google:hover {
    background-color: white;
    border: 1px solid black;
}

@media (max-width: 850px) {
    .auth-container {
        width: 80vw;
    }
}
@media (max-width: 500px) {
    .auth-container {
        width: 100vw;
    }
}
.errors-container ul {
    padding-left: 0;
}
.errors-container ul li {
    font-size: 14px;
}