{% load static %}
<div class="end-screen"></div>
<p class="text category-text">Category: {{ category }}</p>
<div class="letters">
    {% for letter in word %}
        <div data-letter="{{letter}}" class="letter-div"></div>
    {% endfor %}
</div>
<div class="hangman-man"></div>
<div class="keyboard letters">
    {% for letter in alphabet %}
        <div class="keyboard-button hangman-hover" data-letter="{{letter}}">{{ letter }}</div>
    {% endfor %}
    <div class="hint-button hangman-hover"><img src="{% static "hangman/img/solution_5951054.png" %}" alt=""></div>

</div>