{% extends "main.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block links %}<link rel="stylesheet" href="{% static "hangman/css/hangman.css" %}">{% endblock %}

{% block content %}
<input type="hidden" id="current-category">
<div class="hangman hangman-bg container">
    <div class="select-category">
        <br>
        <p class="text text-center">Select category</p>
        <div class="category-row">
            <div class="category-item hangman-hover" data-category="Random">
                <img src="{% static "hangman/img/question-mark_12529740.png" %}" alt="">
                <p>Random</p>
            </div>
            {% for category in categories %}
            <div class="category-item hangman-hover" data-category="{{ category.name }}">
                {% if category.image %}
                    <img src="{{ category.image.url }}" alt="">
                {% else %}
                    <img src="{% static "hangman/img/noise_9418985.png" %}" alt="">
                {% endif %}
                <p>{{ category.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static "hangman/js/hangman.js" %}"></script>
{% endblock %}