{% load static %}
<div class="end-screen"></div>
<p class="text category-text" data-category="{{ category }}">Category: {{ category }}</p>
<div class="letters">
    {% for letter in word %}
        <div data-index="{{forloop.counter0}}" class="letter-div"></div>
    {% endfor %}
</div>
<div class="hangman-man"></div>
<div class="keyboard letters">
    {% for letter in alphabet %}
        <div class="keyboard-button hangman-hover" data-letter="{{letter}}">{{ letter }}</div>
    {% endfor %}
    <div class="hint-button hangman-hover"><img src="{% static "hangman/img/solution_5951054.png" %}" alt=""><p class="hint-text"></p></div>
</div>

<script>
    $('.hint-text').text(hints);
    var category = "{{category}}";
    var word = "{{word}}";
    var errors = 0;
</script>